{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ontario HCN Verification Service ** DEMO **</title>
    <meta
      name="description"
      content="HCN verification service used to issue a verifiable credential asserting that you are the owner of the HCN."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/bcgov_theme.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <!-- Navbar content -->
        <div class="container">
          <a class="navbar-brand" href="/">
          </a>
          <div class="navbar-brand">
            HC Verification Service **DEMO**
          </div>
        </div>
      </nav>
    </header>
    <main role="main">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-8">
            <h1>HCN Verification Service</h1>
            <p>
              Use the form below to request a verifiable credential about your HCN.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-9 col-sm-8">
            <form action="/submit/" method="post">
              {% csrf_token %}
              <fieldset>
                <div class="form-group">
                  {{ form }}
                  
                </div>
                <input type="submit" class="btn btn-primary" />
              </fieldset>
            </form>
          </div>
        </div>
        <hr />
        <div class="row what-is-this">
          <div class="col-md-9 col-sm-8">
            
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <!-- Navbar content -->

      </nav>
    </footer>
    <script src="{% static 'js/bcgov_theme.min.js' %}" async defer></script>
  </body>
</html>
